<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html">
<head>
<title>Hola Mundo</title>
</head>
<body>
	<h:outputLabel value="HOLA MUNDO DESDE JSF"></h:outputLabel>

</body>
</html>