<!-- http://icursos.net/cursos/JSF/Leccion10/BolsaTrabajoV9/ -->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core">
<head>
<title>Hola Mundo</title>
</head>
<body>
	<h:form id="vacanteForm">
		
		<h:messages globalOnly="true" style="color:red"></h:messages>
		<table>
			<tr>
				<td><h:outputLabel for="nombre" value="#{msgs['vacanteForm.nombre']}: "></h:outputLabel></td>
				<td><h:inputText id="nombre" required="true" value="#{candidato.nombre}"></h:inputText></td>
				<td><h:message for="nombre" style="color:red"></h:message></td>
			</tr>
			<tr>
				<td><h:outputLabel for="apellido" value="#{msgs['vacanteForm.apellido']}: "></h:outputLabel></td>
				<td><h:inputText id="apellido" required="true" value="#{candidato.apellido}"></h:inputText></td>
				<td><h:message for="apellido" style="color:red"></h:message></td>
			</tr>
			<tr>
				<td><h:outputLabel for="salario" value="#{msgs['vacanteForm.salario']}: "></h:outputLabel></td>
				<td><h:inputText id="salario" required="true" value="#{candidato.salario}">
					<f:validateLongRange minimum="500" maximum="50000"></f:validateLongRange>
					</h:inputText>
				</td>
				<td><h:message for="salario" style="color:red"></h:message></td>
			</tr>
			<tr>
				<td><h:outputLabel for="fecha" value="#{msgs['vacanteForm.fecha']}: "></h:outputLabel></td>
				<td><h:inputText id="fecha" required="true" value="#{candidato.fechaNacimiento}">
					<f:convertDateTime pattern="dd/MM/yyyy"></f:convertDateTime>
					</h:inputText>
				</td>
				<td><h:message for="fecha" style="color:red"></h:message></td>
			</tr>
			<tr>
				<td><h:outputLabel for="codigo" value="#{msgs['vacanteForm.codigo']}: "></h:outputLabel></td>
				<td><h:inputText id="codigo" required="true" value="#{candidato.codigoPostal}" 
					inmediate="true" onchange="this.form.submit()"
					valueChangeListener="#{vacanteForm.codPostalListener}">
					<f:convertNumber pattern="00000" integerOnly="true"></f:convertNumber>
					</h:inputText>
				</td>
				<td><h:message for="codigo" style="color:red"></h:message></td>
			</tr>
			<tr>
				<td><h:outputLabel for="coloniaId" value="#{msgs['vacanteForm.coloniaId']}: "></h:outputLabel></td>
				<td>
					<h:selectOneMenu id="coloniaId" required="true" value="${candidato.coloniaId}">
						<f:selectItem itemLabel="#{msgs['vacanteForm.seleccione']}" itemValue=""></f:selectItem>
						<!-- <f:selectItem itemLabel="Polanco" itemValue="1"></f:selectItem>
						<f:selectItem itemLabel="Napoles" itemValue="2"></f:selectItem>
						<f:selectItem itemLabel="Valle Verde" itemValue="3"></f:selectItem>-->
						<f:selectItems value="#{coloniaHelper.selectItems}"></f:selectItems>
					</h:selectOneMenu>
				</td>
				<td><h:message for="coloniaId" style="color:red"></h:message></td>
			</tr>
			<tr>
				<td><h:outputLabel for="ciudad" value="#{msgs['vacanteForm.ciudad']}: "></h:outputLabel></td>
				<td><h:inputText id="ciudad" required="true" value="#{candidato.ciudad}"></h:inputText></td>
				<td><h:message for="ciudad" style="color:red"></h:message></td>
			</tr>
		</table>
		<table>
			<tr>
				<td>
					<h:commandLink actionListener="#{vacanteForm.ocultarComentario}"
						inmediate="true" rendered="#{!vacanteForm.comentarioEnviado}"
						value="#{msgs['vacanteForm.mostrar']}">
					</h:commandLink>
					<h:commandLink actionListener="#{vacanteForm.ocultarComentario}"
						inmediate="true" rendered="#{vacanteForm.comentarioEnviado}"
						value="#{msgs['vacanteForm.ocultar']}">
					</h:commandLink>
				</td>
			</tr>
		</table>
		
		<h:panelGroup rendered="#{vacanteForm.comentarioEnviado}">
			<table>
				<tr>
					<td>
						<h:outputLabel for="comentario" value="#{msgs['vacanteForm.comentario']}: "></h:outputLabel>
					</td>
				</tr>
				<tr>
					<td>
						<h:inputTextarea id="comentario" cols="50" rows="10" value="#{candidato.comentario}"></h:inputTextarea>
					</td>
				</tr>
				
			</table>
		</h:panelGroup>
		
		<br/><br/><br/><br/>
		
		<h:commandButton action="#{vacanteForm.enviar}" value="#{msgs['vacanteForm.enviar']}"></h:commandButton>
	</h:form>

</body>
</html>