<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html">
<head>
<title>Hola Mundo</title>
</head>
<body>
	<h:form>
		<table>
			<tr>
				<td><h:outputLabel for="nombre" value="Nombre: "></h:outputLabel></td>
				<td><h:inputText id="nombre" value="#{candidato.nombre}"></h:inputText></td>
				<td><h:message for="nombre"></h:message></td>
			</tr>
		</table>
		
		<h:commandButton action="#{vacanteForm.enviar}" value="Enviar"></h:commandButton>
	</h:form>

</body>
</html>