<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html">
<h:head>
	<title>Proyecto Bolsa Trabajo</title>
	<h:outputStylesheet library="css" name="estilos.css"></h:outputStylesheet>
</h:head>
<h:body>
	<div id="wrapper">
		<div id="header-wrapper">
			<ui:insert name="top">
				<div id="header">
					<div id="logo">
						<h1>Bolsa de Trabajo</h1>
					</div>
				</div>
			</ui:insert>
		</div>
		<div id="page">
			<ui:insert name="content"> Contenido </ui:insert>
		</div>
		
		<div id="footer">
			<ui:insert name="bottom">Derechos reservador LAMT -- JAVA FACELETS</ui:insert>
		</div>
	</div>
	
	
</h:body>
</html>