<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
		xmlns:h = "http://java.sun.com/jsf/html">
<head>
<title>Fallo</title>
</head>
<body>
	<h:form>
		Lo siento #{candidato.nombre}, no hay vacantes por el momento
		<br/>
		<h:commandLink action="index">Regresar</h:commandLink>
	</h:form>
</body>
</html>