<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
		xmlns:h = "http://java.sun.com/jsf/html">
<head>
<title>Exito</title>
</head>
<body>
	<h:form>
		Gracias #{candidato.nombre} por aplicar a la vacante
		<br/>
		<h:commandLink action="index">Regresar</h:commandLink>
	</h:form>
</body>
</html>