<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core">
<head>
<title>Hola Mundo</title>
</head>
<body>
	<h:form>
		
		<h:messages globalOnly="true"></h:messages>
		<table>
			<tr>
				<td><h:outputLabel for="nombre" value="Nombre: "></h:outputLabel></td>
				<td><h:inputText id="nombre" required="true" value="#{candidato.nombre}"></h:inputText></td>
				<td><h:message for="nombre"></h:message></td>
			</tr>
			<tr>
				<td><h:outputLabel for="apellido" value="Apellido: "></h:outputLabel></td>
				<td><h:inputText id="apellido" required="true" value="#{candidato.apellido}"></h:inputText></td>
				<td><h:message for="apellido"></h:message></td>
			</tr>
			<tr>
				<td><h:outputLabel for="salario" value="Salario: "></h:outputLabel></td>
				<td><h:inputText id="salario" required="true" value="#{candidato.salario}">
					<f:validateLongRange minimum="500" maximum="50000"></f:validateLongRange>
					</h:inputText>
				</td>
				<td><h:message for="salario"></h:message></td>
			</tr>
			<tr>
				<td><h:outputLabel for="fecha" value="Fecha: "></h:outputLabel></td>
				<td><h:inputText id="fecha" required="true" value="#{candidato.fechaNacimiento}">
					<f:convertDateTime pattern="dd/MM/yyyy"></f:convertDateTime>
					</h:inputText>
				</td>
				<td><h:message for="salario"></h:message></td>
			</tr>
		</table>
		
		<h:commandButton action="#{vacanteForm.enviar}" value="Enviar"></h:commandButton>
	</h:form>

</body>
</html>