<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">
<h:head>
	<title>PrimeFaces Components</title>
</h:head>
<h:body>
	<h1>Prime Faces</h1>
	<h:form>
		<p:growl id="msgs" showDetail="true" skipDetailIfEqualsSummary="true" />

		<p:panel header="Select a Location" style="margin-bottom:10px;">
			<h:panelGrid columns="2" cellpadding="5">
				<p:outputLabel for="country" value="Country: " />
				<p:selectOneMenu id="country" value="#{dropdownView.country}"
					style="width:150px">
					<p:ajax listener="#{dropdownView.onCountryChange}" update="city" />
					<f:selectItem itemLabel="Select Country" itemValue=""
						noSelectionOption="true" />
					<f:selectItems value="#{dropdownView.countries}" />
				</p:selectOneMenu>

				<p:outputLabel for="city" value="City: " />
				<p:selectOneMenu id="city" value="#{dropdownView.city}"
					style="width:150px">
					<f:selectItem itemLabel="Select City" itemValue=""
						noSelectionOption="true" />
					<f:selectItems value="#{dropdownView.cities}" />
				</p:selectOneMenu>
			</h:panelGrid>

			<p:separator />

			<p:commandButton value="Submit" update="msgs"
				action="#{dropdownView.displayLocation}" icon="pi pi-check" />
		</p:panel>
	</h:form>
</h:body>
</html>