<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">
<h:head>
	<title>PrimeFaces Components</title>
</h:head>
<h:body>
	<h1>Prime Faces</h1>
	<p:button outcome="TextTarea" value="Input TextTarea" icon="pi pi-star"
		style="margin-right:20px;">
	</p:button>
	
	<p:button outcome="InputAutocomplete" value="Input Auto" icon="pi pi-star"
		style="margin-right:20px;">
	</p:button>
	
	<p:button outcome="DataPicker" value="Input Calendar" icon="pi pi-star"
		style="margin-right:20px;">
	</p:button>
	
	<p:button outcome="ButtonBoolean" value="Button Boolean" icon="pi pi-star"
		style="margin-right:20px;">
	</p:button>
	
	<p:button outcome="Dropdown" value="Dropdown Example" icon="pi pi-star"
		style="margin-right:20px;">
	</p:button>
	
	<p:button outcome="Gridcss" value="Grid CSS Example" icon="pi pi-star"
		style="margin-right:20px;">
	</p:button>
	
	<p:button outcome="FormLayout" value="Form Example" icon="pi pi-star"
		style="margin-right:20px;">
	</p:button>
</h:body>
</html>