<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">
<h:head>
	<title>PrimeFaces Components</title>
</h:head>
<h:body>
	<h1>Prime Faces</h1>
	<h:form>
		<p:growl id="msgs" showDetail="true" skipDetailIfEqualsSummary="true" />

		<h:panelGrid columns="2" cellpadding="5">
			<p:outputLabel value="Simple:" for="acSimple" />
			<p:autoComplete id="acSimple" value="#{autoCompleteView.txt1}"
				completeMethod="#{autoCompleteView.completeText}" />

			<p:outputLabel value="Min Length (3):" for="acMinLength" />
			<p:autoComplete id="acMinLength" minQueryLength="3"
				value="#{autoCompleteView.txt2}"
				completeMethod="#{autoCompleteView.completeText}" effect="fade" />
		</h:panelGrid>
	</h:form>
</h:body>
</html>