<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">
<h:head>
	<title>PrimeFaces Components</title>
</h:head>
<h:body>
	<h1>Prime Faces</h1>

	<h:form>
		<h3 style="margin-top: 0">AutoComplete</h3>
		<p>Following inputTextarea send a query for each word that has at
			least 4 characters to the complete method. Try typing "PrimeFaces".</p>
		<p:inputTextarea rows="10" cols="50"
			completeMethod="#{ripples.completeArea}" queryDelay="750"
			minQueryLength="4">
		</p:inputTextarea>

		<h3>AutoResize</h3>
		<p:inputTextarea rows="6" cols="33" />

		<h3>Remaining Chars</h3>
		<p:inputTextarea rows="5" cols="30" counter="display" maxlength="10"
			counterTemplate="{0} characters remaining." autoResize="false" />
		<br />
		<h:outputText id="display" />
	</h:form>
</h:body>
</html>