<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html">
<h:head>
<title>Sistema SGA</title>
</h:head>
<h:body>
	
	<h2>Sistema SGA</h2>
	<h:form>
		<h:commandButton value="Listar Personas" action="listarPersonas" />
	</h:form>


</h:body>
</html>